@if (user) {
    <div class="m-2 pb-5">
        <div class="mt-4 m-3 flex justify-center align-items-center gap-3">
            <i class="p-2 pi pi-user text-primary icon border-2"></i>
            <div class="flex flex-column">
                <h1 class="text-2xl">{{ user.firstName }} {{ user.lastName }}</h1>
                <div>
                    <span>{{ recipes.totalElements }}</span>
                    <span>{{ recipes.totalElements > 1 ? ' recettes' : ' recette' }}</span>
                </div>
            </div>
        </div>


        <div class="container mt-5">
            @for (recipe of recipes.content; track recipe.id) {
                <div [routerLink]="['/', 'recipe', 'view-recipe', recipe.id]" class="box text-center">
                    <img class="recipe-image border-round-xl" [src]="recipe.image ?? 'recipe.jpeg'"
                         alt="recipe">
                    <span>{{ recipe.name }}</span>
                </div>
            }
        </div>
        @if (recipes && recipes.totalElements > recipes.content.length) {
            <p-paginator (onPageChange)="goToPage($event)" [rows]="recipes.pageSize"
                         [totalRecords]="recipes.totalElements" [rowsPerPageOptions]="[10, 20, 30]"/>
        }
    </div>
}

