<section>
    <div class="login-container">
        <div class="illustration">
            <img src="/icons/ios/1024.png" alt="Chef Hat">
        </div>
        <h1>À Table !</h1>
        <form [formGroup]="formSignIn" (ngSubmit)="signIn()">
            <div>
                <div class="login-field">
                    <input formControlName="email" type="text" class="login-input" placeholder="Email">
                </div>
                @if (formSignIn.controls.email.touched && formSignIn.controls.email.errors?.['email']) {
                    <p-message
                        severity="error" variant="simple" size="small">
                        L'email n'est pas valide
                    </p-message>
                }
                @if (formSignIn.hasError('invalidCredential')) {
                    <p-message severity="error" variant="simple"
                               size="small">
                        {{ formSignIn.getError('invalidCredential') }}
                    </p-message>
                }

            </div>
            <div class="login-field">
                <input formControlName="password" type="password" class="login-input" placeholder="Mot de passe">
            </div>
            <button class="button login-submit" [ngClass]="{
                    'disabled': formSignIn.invalid
                    }"
                    [disabled]="formSignIn.invalid">
                <span class="button-text">Connexion</span>
            </button>
        </form>
        <div class="signup-link">
                <span (click)="showDialogForgotPassword = true">
                    <h3>Mot de passe oublié</h3>
                </span>
            <a routerLink="/auth/register">
                <h3>Pas encore inscrit ? Créez un compte ici</h3>
            </a>
        </div>
    </div>
</section>

<app-forgot-password [(showDialogForgotPassword)]="showDialogForgotPassword"></app-forgot-password>
