@use "colors" as *;
@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body {
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    scroll-behavior: smooth;
}


.text-secondary {
    color: $green;
}

a {
    text-decoration: none;
}


.recipe-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.container {
    width: 100%;
}
