<div class="p-3">
    <h1 class="mb-3">Ajouter une recette</h1>
    <form [formGroup]="formCreateRecipe" (ngSubmit)="submitCreateRecipe()">

        <!--Recipe info-->
        <h2 class="text-primary mb-3">Détail de la recette</h2>
        <div class="flex flex-column gap-5 mb-3">
            <p-floatlabel variant="on">
                <input id="name" formControlName="name" pInputText autocomplete="off" placeholder="Pancakes"
                       pSize="large"/>
                <label for="name">Nom de la recette</label>
                @if (formCreateRecipe.controls.name.touched) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (formCreateRecipe.controls.name.hasError('required')) {
                            Champ requis
                        }
                        @if (formCreateRecipe.controls.name.hasError('minlength')) {
                            Ce champ nécessite 5 caractères minimum
                        }
                        @if (formCreateRecipe.controls.name.hasError('maxlength')) {
                            Ce champ ne peut pas dépasser 50 caractères
                        }
                    </p-message>
                }
            </p-floatlabel>


            <div class="flex flex-row gap-4">
                <p-floatlabel variant="on" class="flex-1">
                    <p-select id="category" inputId="category" formControlName="category" [options]="categories"
                              optionLabel="name" class="w-full"/>
                    <label for="category">Catégorie</label>
                    @if (formCreateRecipe.controls.category.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.category.hasError('required')) {
                                Champ requis
                            }
                        </p-message>
                    }
                </p-floatlabel>

                <p-floatlabel variant="on" class="flex-1">
                    <input id="nbPerson" formControlName="nbPerson" pInputText autocomplete="off" class="w-full"
                           min="1"/>
                    <label for="nbPerson">Nombre de personnes</label>
                    @if (formCreateRecipe.controls.nbPerson.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.nbPerson.hasError('min')) {
                                Le nombre de personne doit être supérieur à 1
                            }
                            @if (formCreateRecipe.controls.nbPerson.hasError('max')) {
                                Le nombre de personne doit être inférieur à 50
                            }
                        </p-message>
                    }
                </p-floatlabel>
            </div>


            <div class="flex flex-row gap-2">
                <p-floatlabel variant="on" class="flex-1">
                    <p-inputNumber class="w-full" id="preparationTime" formControlName="preparationTime" autocomplete="off" [min]="1"
                                   placeholder="15 mn" suffix=" mn"/>
                    <label for="preparationTime">Temps de préparation</label>
                    @if (formCreateRecipe.controls.preparationTime.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.preparationTime.hasError('min')) {
                                Le temps de préparation doit être supérieur à 1
                            }
                            @if (formCreateRecipe.controls.preparationTime.hasError('max')) {
                                Le temps de préparation doit être inférieur à 999
                            }
                        </p-message>
                    }
                </p-floatlabel>

                <p-floatlabel variant="on" class="flex-1">
                    <p-inputNumber class="w-full" id="cookingTime" formControlName="cookingTime" autocomplete="off" [min]="0"
                                   placeholder="45mn" suffix=" mn"/>
                    <label for="cookingTime">Temps de cuisson</label>
                    @if (formCreateRecipe.controls.cookingTime.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.cookingTime.hasError('min')) {
                                Le temps de cuisson doit être supérieur à 0
                            }
                            @if (formCreateRecipe.controls.cookingTime.hasError('max')) {
                                Le temps de cuisson doit être inférieur à 999
                            }
                        </p-message>
                    }
                </p-floatlabel>
            </div>
            <p-floatlabel variant="on">
                <textarea id="note" formControlName="note" pTextarea rows="5" cols="30" style="resize: none"></textarea>
                <label for="note">Note facultative</label>
                @if (formCreateRecipe.controls.name.touched) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (formCreateRecipe.controls.note.hasError('minlength')) {
                            La note nécessite 5 caractères minimum
                        }
                        @if (formCreateRecipe.controls.note.hasError('maxlength')) {
                            La note ne doit pas dépasser 200 caractères
                        }
                    </p-message>
                }
            </p-floatlabel>
        </div>

        <!--Ingredients-->
        <div class="flex flex-column gap-1 mb-5">
            <h2 class="text-primary mb-3">Ingrédients</h2>
            <div formArrayName="ingredients" class="flex flex-column gap-3">
                @for (ingredient of ingredientsControls; let i = $index; let first = $first; track i) {
                    <div [formGroupName]="i" class="flex flex-row justify-center align-items-center gap-2">
                        <p-floatlabel variant="on">
                            <input id="ingredient-{{ i }}" formControlName="ingredient" pInputText autocomplete="off"
                                   class="w-full"/>
                            <label for="ingredient-{{ i }}">Ingrédient</label>
                        </p-floatlabel>
                        <p-floatlabel variant="on">
                            <input id="quantity-{{ i }}" formControlName="quantity" pInputText autocomplete="off"
                                   (keydown)="addIngredients(i)" class="w-full"/>
                            <label for="quantity-{{ i }}">Quantité</label>
                        </p-floatlabel>
                        @if (!first) {
                            <i class="pi pi-minus-circle text-primary text-lg" (click)="removeIngredient(i)"></i>
                        }
                    </div>
                }
            </div>
        </div>

        <!--Steps-->
        <div class="flex flex-column gap-1 mb-5">
            <h2 class="text-primary mb-3">Préparation</h2>
            <p-floatlabel variant="on">
                <textarea id="steps" formControlName="steps" [placeholder]="placeholderSteps"
                          pTextarea rows="20" cols="40" style="resize: none"></textarea>
                <label for="steps">Préparation</label>
            </p-floatlabel>
            <small id="steps-help">Séparez les étapes par 2 retours à la ligne</small>
        </div>


        <p-button type="submit" [disabled]="!formCreateRecipe.valid">Créer</p-button>
    </form>
</div>
