<div class="p-3">
    @if (updateRecipe && updateRecipe.id) {
        <h1 class="mb-3">Mettre à jour une recette</h1>
    } @else {
        <h1 class="mb-3">Ajouter une recette</h1>
    }
    <form [formGroup]="formCreateRecipe" (ngSubmit)="submitCreateRecipe()">

        <!--Recipe info-->
        <h2 class="text-primary mb-3">Détail de la recette</h2>
        <div class="flex flex-column gap-5 mb-3">
            <p-floatlabel variant="on">
                <input id="name" formControlName="name" pInputText autocomplete="off" placeholder="Pancakes"
                       pSize="large"/>
                <label for="name">
                    Nom de la recette
                    <i class="pi pi-asterisk asterisk"></i>
                </label>
                @if (formCreateRecipe.controls.name.touched) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (formCreateRecipe.controls.name.hasError('required')) {
                            Champ requis
                        }
                        @if (formCreateRecipe.controls.name.hasError('minlength')) {
                            Ce champ nécessite 5 caractères minimum
                        }
                        @if (formCreateRecipe.controls.name.hasError('maxlength')) {
                            Ce champ ne peut pas dépasser 50 caractères
                        }
                    </p-message>
                }
            </p-floatlabel>


            <div class="flex flex-row gap-4">
                <p-floatlabel variant="on" class="flex-1">
                    <p-select
                        id="category"
                        formControlName="category"
                        [options]="categories"
                        class="w-full"
                        optionLabel="name"
                    />

                    <label for="category">Catégorie
                        <i class="pi pi-asterisk asterisk"></i>
                    </label>
                    @if (formCreateRecipe.controls.category.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.category.hasError('required')) {
                                Champ requis
                            }
                        </p-message>
                    }
                </p-floatlabel>

                <p-floatlabel variant="on" class="flex-1">
                    <input id="nbPerson" formControlName="nbPerson" pInputText autocomplete="off" class="w-full"
                           min="1"/>
                    <label for="nbPerson">
                        Nombre de personnes
                        <i class="pi pi-asterisk asterisk"></i>
                    </label>
                    @if (formCreateRecipe.controls.nbPerson.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.nbPerson.hasError('min')) {
                                Ce champ doit être supérieur à 1
                            }
                            @if (formCreateRecipe.controls.nbPerson.hasError('max')) {
                                Ce champ doit être inférieur à 50
                            }
                        </p-message>
                    }
                </p-floatlabel>
            </div>


            <div class="flex flex-row gap-2 flex-wrap">
                <p-floatlabel variant="on" class="flex-1">
                    <p-inputNumber class="w-full" id="preparationTime" formControlName="preparationTime"
                                   autocomplete="off" [min]="0"
                                   placeholder="15 mn" suffix=" mn"/>
                    <label for="preparationTime">Temps de préparation</label>
                    @if (formCreateRecipe.controls.preparationTime.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.preparationTime.hasError('min')) {
                                Ce champ doit être supérieur à 0
                            }
                            @if (formCreateRecipe.controls.preparationTime.hasError('max')) {
                                Ce champ doit être inférieur à 999
                            }
                        </p-message>
                    }
                </p-floatlabel>

                <p-floatlabel variant="on" class="flex-1">
                    <p-inputNumber class="w-full" id="cookingTime" formControlName="cookingTime" autocomplete="off"
                                   [min]="0" placeholder="45mn" suffix=" mn"/>
                    <label for="cookingTime">Temps de cuisson</label>
                    @if (formCreateRecipe.controls.cookingTime.touched) {
                        <p-message severity="error" size="small" variant="simple">
                            @if (formCreateRecipe.controls.cookingTime.hasError('min')) {
                                Ce champ doit être supérieur à 0
                            }
                            @if (formCreateRecipe.controls.cookingTime.hasError('max')) {
                                Ce champ doit être inférieur à 999
                            }
                        </p-message>
                    }
                </p-floatlabel>
            </div>

            <div class="flex flex-column gap-2">
                @if (formCreateRecipe.getRawValue().image) {
                    <img class="recipe-image" [src]="formCreateRecipe.controls.image.value" alt="recipe">
                }
                <p-message severity="error" size="small" variant="simple">
                    @if (formCreateRecipe.controls.image.hasError('ERROR_CONVERT_IMAGE')) {
                        Impossible d'enregistrer l'image
                    }
                </p-message>
                <p-fileupload mode="basic"
                              [chooseLabel]="updateRecipe?.image ? 'Mettre à jour l\'image' : 'Importer une image'"
                              chooseIcon="pi pi-upload" name="demo[]"
                              accept="image/*" maxFileSize="4000000"
                              [auto]="true"
                              (onSelect)="onSelectImage($event)"/>

                @if (formCreateRecipe.getRawValue().image) {
                    <p-button (click)="removeImage()" label="Supprimer l'image" severity="danger"></p-button>
                }
            </div>

            <p-floatlabel variant="on">
                <textarea id="note" formControlName="note" pTextarea rows="5" cols="30" style="resize: none"></textarea>
                <label for="note">Note facultative</label>
                @if (formCreateRecipe.controls.note.touched) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (formCreateRecipe.controls.note.hasError('minlength')) {
                            Ce champ nécessite 5 caractères minimum
                        }
                        @if (formCreateRecipe.controls.note.hasError('maxlength')) {
                            Ce champ ne doit pas dépasser 200 caractères
                        }
                    </p-message>
                }
            </p-floatlabel>
        </div>

        <!--Ingredients-->
        <div class="mb-5">
            <h2 class="text-primary mb-3">Ingrédients</h2>

            <div formArrayName="ingredients">
                <p-table [value]="ingredients.controls">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Ingrédient
                                <i class="pi pi-asterisk asterisk"></i>
                            </th>
                            <th>Quantité</th>
                            <th>Unité</th>
                            <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-row let-i="rowIndex">
                        <tr [formGroupName]="i">
                            <!-- Name -->
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input formControlName="name" pInputText class="w-full"/>
                                        @if (row.get('name')?.hasError('duplicate')) {
                                            <p-message severity="error" variant="simple" size="small">
                                                Cet ingrédient a déjà été ajouté
                                            </p-message>
                                        }
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ row.value.name || '-' }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <!-- Quantity -->
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-input-number formControlName="quantity" class="w-full"/>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ row.value.quantity || '-' }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <!-- Unit -->
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-select formControlName="unit" [options]="units" class="w-full"
                                                  appendTo="body"/>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ row.value.unit || '-' }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <!-- Remove -->
                            <td>
                                <p-button size="small" icon="pi pi-times" (click)="removeIngredient(i)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="mt-2">
                <p-button label="Ajouter un ingrédient" (click)="addIngredient()"></p-button>
            </div>
        </div>

        <!--Steps-->
        <div class="flex flex-column gap-1 mb-5">
            <h2 class="text-primary mb-3">Préparation</h2>
            <p-floatlabel variant="on">
                <textarea id="steps" formControlName="steps" [placeholder]="placeholderSteps"
                          pTextarea rows="20" cols="40" class="steps w-full"></textarea>
                <label for="steps">
                    Description de la préparation
                    <i class="pi pi-asterisk asterisk"></i>
                </label>
            </p-floatlabel>
            <small id="steps-help">Séparez les étapes par 2 retours à la ligne</small>
        </div>


        <p-button type="submit" icon="pi pi-check" [label]="updateRecipe ? 'Mettre à jour' : 'Créer'"
                  [loading]="loading"
                  [disabled]="!formCreateRecipe.valid || loading"/>
    </form>
</div>
