@use "../../../colors" as *;

.steps {
    resize: none;
}

h1 {
    color: $green;
}


.asterisk {
    font-size: .6em;
    color: red;
    font-weight: bold;
    margin-top: -1px;
    position: absolute;
    margin-left: 2px;
}
