@if (user) {
    <div class="m-2 pb-5">
        <div class="mt-4 m-3 flex justify-center align-items-center gap-3">
            <i class="p-2 pi pi-user text-primary user-icon border-2"></i>
            <div class="flex flex-column">
                <h1 class="text-2xl">{{ user.firstName }} {{ user.lastName }}</h1>
                <div>
                    <span>{{ recipes.totalElements }}</span>
                    <span>{{ recipes.totalElements > 1 ? ' recettes' : ' recette' }}</span>
                </div>
            </div>
        </div>

        <div class="ml-3 mt-4">
            <app-filter-recipe label="Filtrer" (category)="filter($event)"></app-filter-recipe>
        </div>

        @if (recipes.totalElements > 0) {
            <div class="container">
                <div class="recipes-grid mb-5">
                    @for (recipe of recipes.content; track recipe.id) {
                        <a [routerLink]="['/', 'recipe', 'view-recipe', recipe.id]"
                           class="flex flex-column text-black-alpha-90 bg-white p-3">
                            <img class="recipe-image border-round-xl" loading="lazy"
                                 [src]="recipe.image ?? 'no-preview.png'"
                                 alt="recipe">
                            <div class="flex flex-column gap-2">
                                <h2 class="text-lg mt-2">{{ recipe.name | truncateRecipeName }}</h2>
                                <div class="flex justify-center align-items-center gap-2">
                                    <i class="pi pi-tag text-primary text-lg"></i>
                                    <span>{{ recipe.category | titlecase }}</span>
                                </div>

                                @if (recipe.cookingTime && recipe.preparationTime) {
                                    <div class="flex justify-center align-items-center gap-2">
                                        <i class="pi pi-hourglass text-primary text-lg"></i>
                                        <span>{{ recipe.cookingTime + recipe.preparationTime | timeConvert }}</span>
                                    </div>
                                }
                            </div>
                        </a>
                    }
                </div>

                @if (recipes && recipes.totalElements > recipes.content.length) {
                    <p-paginator (onPageChange)="goToPage($event)" [rows]="recipes.pageSize"
                                 [totalRecords]="recipes.totalElements" [rowsPerPageOptions]="[10, 20, 30]"/>
                }
            </div>
        }
    </div>
}

