@if (recipe && filterRecipe) {
    <div class="recipe-image-container">
        <img class="recipe-image" [src]="recipe.image ?? 'recipe.jpeg'" alt="recipe">
    </div>

    <div class="ml-3">
        <h1 class="text-secondary text-center">{{ recipe.name }}</h1>

        <div class="flex justify-center align-items-center gap-2 mt-4">
            <i class="pi pi-clock text-primary text-lg"></i>
            <span>{{ recipe.category | titlecase }}</span>
        </div>

        @if (recipe.cookingTime && recipe.preparationTime) {
            <div class="flex justify-center align-items-center gap-2 mt-4">
                <div>
                    <i class="pi pi-hourglass text-primary text-lg"></i>
                </div>
                <div>
                    <div>
                        <span>Temps de préparation : </span>
                        <span>{{ recipe.preparationTime | timeConvert }}</span>
                    </div>
                    <div>
                        <span>Temps de cuisson : </span>
                        <span>{{ recipe.cookingTime | timeConvert }}</span>
                    </div>
                </div>
            </div>
        }


        <div class="flex justify-center align-items-center gap-2 mt-4">
            <i class="pi pi-users text-primary text-lg"></i>
            <p-button size="small" icon="pi pi-minus" (click)="decreaseNbPersons()"
                      [disabled]="filterRecipe.nbPerson <= 1"/>
            {{ filterRecipe.nbPerson <= 1 ? filterRecipe.nbPerson + ' personne' : filterRecipe.nbPerson + ' personnes' }}
            <p-button size="small" icon="pi pi-plus" (click)="increaseNbPersons()"/>
        </div>

        <div [routerLink]="['/', 'user', 'user-profile', recipe.user.id]"
             class="flex justify-center align-items-center gap-2 mt-4">
            <i class="pi pi-user text-primary text-lg"></i>
            <span>
                <span>Ajouté par </span>
                <span class="text-primary font-bold">{{ recipe.user.firstName }} {{ recipe.user.lastName }}</span>
            </span>
        </div>

        @if (recipe.note) {
            <div class="flex justify-center align-items-center gap-2 mt-4">
                <i class="pi pi-pencil text-primary text-lg"></i>
                {{ recipe.note }}
            </div>
        }

        @if (user?.id === recipe.user.id) {
            <div class="flex justify-center align-items-center gap-2 mt-4">
                <p-button label="Modifier" severity="info" (click)="updateRecipe()"></p-button>
                <p-button label="Supprimer" severity="danger" (click)="showDialogDeleteRecipe(recipe)"></p-button>
            </div>
        }


        <p-tabs value="0" class="mt-4">
            <p-tablist>
                <p-tab value="0">Ingrédients</p-tab>
                <p-tab value="1">Préparation</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <ul class="m-0 p-0 list-none">
                        @for (ingredient of filterRecipe.ingredients; track ingredient.id) {
                            <li class="mb-4">
                                <div class="mb-2 flex items-center">
                                    <span>{{ ingredient.name | titlecase }}</span>
                                </div>
                                <div class="mb-2 flex items-center">
                                    <span class="text-primary">{{ ingredient.quantity }} {{ ingredient.unit }}</span>
                                </div>
                            </li>
                        }
                    </ul>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <ul class="m-0 p-0 list-none">
                        @for (step of recipe.steps; track step.id) {
                            <li class="mb-4">
                                <div class="mb-2 flex items-center gap-3">
                                <span
                                    class="step-number text-lg flex justify-content-center align-items-center align-self-center">{{ step.stepNumber }}</span>
                                    <span class="text-justify">{{ step.description }}</span>
                                </div>
                            </li>
                        }
                    </ul>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
}


<p-confirmdialog/>
