@use "../../../colors" as *;


.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
}

.center-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
