@use "../../../colors" as *;

.step-number {
    background-color: var(--p-primary-color);
    border-radius: 50%;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.recipe-image-container {
    display: flex;
    justify-content: center;

    .recipe-image {
        width: 40%;
        height: 300px;
        object-fit: cover;
    }
}

.edit-recipe {
    color: $green;
}

.bookmark {
    top: 53.5%;
    right: 0;
    margin: 10px;
    border: 1px solid pink;
    border-radius: 50%;
    padding: 9px;
    position: absolute;
    font-size: 1.4rem;
    color: deeppink;
    outline: none;
}


@media (max-width: 600px) {
    .recipe-image-container .recipe-image {
        width: 100%;
    }
}
